body {
	background-image: url('/images/background.png');
	background-color: #1f1f21;
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
	font: 16px Trebuchet, sans-serif;
	color: #ddd;
}

img {
	border: 0;
}

img.sitelogo {
	z-index: 6;
}
h2 {
	font-size: 20px;
}

a {
	color: #8490bf;
	text-decoration: none
}
a:hover {
	color: #e55c00;
	color: #bfb384;
	color: #bfa384;
}
/* Site Header */
div.header {
	z-index: 3;
	position: relative;
	width: 900px;
	margin-bottom: 20px;
}
div.header span.quote {
	/*display: none;*/
	position: absolute;
	top: 43;
	left: 102;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}
span.quote span {
	color: #3f3f43
}
ul.navlinks {
	position: absolute;
	background-color: #1f1f21;
	z-index: -1;
	padding: 7px 7px 7px 25px;
	top: -12;
	left: 80;
	list-style-type: none;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}
ul.navlinks li {
	float: left;
	margin-right: 20px;
}
/* End Site Header */


body div.pagecontent {
	/*padding-top: 90px;*/
}
div.post {
	clear: both;
}

div.post div.content {
	clear: both;
}
div.post div.data {
	margin-bottom: 10px;
}
div.post div.data div.date {
	float: left;
}
div.post div.data div.map {
	color: #F25223;
	color: #ff7519;
	cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	margin-top: -5px;
	margin-left: 5px;
	background: url('/images/earth-small.png') no-repeat;
}
div.post div.data div.bw {
	background: url('/images/earth-smallbw.png') no-repeat;
}
div.post div.data div.bw:hover {
	background: url('/images/earth-small.png') no-repeat;
}


/* Post map */
div.day_map {
	width: 100%;
	height: 300px;
}
/* End Post Map */


/* World Map */
body.map {
	background: #1f1f21;
	margin: 0;
	padding: 0;
}
body.map ul.navlinks {
	position: absolute;
	top: 8;
	left: 80;
	margin: 0;
	padding: 7px;
	padding-left: 25px;
	overflow: hidden;
	background-color: #1f1f21;
	float: left;
	z-index: -1;
}
body.map div.header {
	position: absolute;
	top: 5px;
	overflow: hidden;
	z-index: 3;
	padding: 3px 0px 0px 3px;
	border-bottom: none;
}
#world_map_canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/* End World Map */
