body {
	background-image: url('/images/background.png');
	background-color: #1f1f21;
	width: 700px;
	margin: 0 auto;
	padding-top: 15px;
	font: 16px Trebuchet, sans-serif;
	color: #ddd;
}

img {
	border: 0px;
}

div.pagecontent img {
	display: block;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
img.sitelogo {
	z-index: 6;
}
em{
	font-weight: bold;
	font-style: italic;
}
h1 {
	margin: 0px;
	padding: 0px;
	font-size: 23px;
}
h2 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
a {
	color: #9E2A00;
	color: #9E7900;
	color: #8490bf;
	color: #308A03;
	color: #3fbd00;
	color: #425ba6;
	color: #5368a6;
	color: #6b7db2;
	color: #00A1D0;
	color: #0083ab;
	color: #8a8ae5;
	text-decoration: none
}
a:hover {
	color: #e55c00;
	color: #bfb384;
	color: #bfa384;
	color: #d9860b;
	color: #ff8000;
}

a.green {
	color: #3fbd00;
}
a.red {
	color: #cc0000;
}
a.yellow {
	color: #f2f200;
}
a.blue {
	color: #171799;
}


/* Site Header */
div.header {
	z-index: 3;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
div.header span.quote {
	position: absolute;
	top: 43px;
	left: 102px;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #aaa;
}
span.quote span {
	font-size: 11px;
	color: #3f3f43
}
ul.navlinks {
	position: absolute;
	background-color: #1f1f21;
	z-index: -1;
	padding: 7px 7px 7px 25px;
	top: -12px;
	left: 80px;
	list-style-type: none;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0px 0px 10px #111;
	-webkit-box-shadow: 0px 0px 10px #111;
	box-shadow: 0px 0px 10px #111;
}
ul.navlinks li {
	float: left;
	margin-right: 20px;
	font-weight: bold;
}
/* End Site Header */


body div.pagecontent {
	/*padding-top: 90px;*/
}

/* Post */
div.post {
	clear: both;
}
div.post h2 {
	font-size: 22px;
	color: #ffad33;
}
div.post h2 a {
	margin: 0px;
	padding: 0px;
	font-size: 22px;
	color: #8ae5b8;
	color: #2db259;
	color: #2a8c2a;
	color: #c1e58a;
	color: #E0BD11;
	color: #edc600;
	color: #e59317;
	color: #ffad33;
}
div.post div.content {
	clear: both;
}
div.post div.content:first-letter {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
}
div.post div.data {
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 2px;
}
div.post div.data div.date {
	font-weight: bold;
	float: left;
}
div.post div.data div.author {
	float: left;
	margin-left: 10px;
	font-weight: bold;
	color: #888;
}
div.post div.data div.map {
	color: #F25223;
	color: #ff7519;
	cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	margin-top: -5px;
	margin-left: 5px;
	background: url('/images/earth-small.png') no-repeat;
}
div.post div.data div.bw {
	background: url('/images/earth-smallbw.png') no-repeat;
}
div.post div.data div.bw:hover {
	background: url('/images/earth-small.png') no-repeat;
}
div.day_map {
	margin-top: 30px;
	width: 100%;
	height: 440px;
}
div.day_map img {
	-moz-box-shadow: 0px 0px 0px #000;
	-webkit-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
}
div.post object {
	display: block;
	margin: 0 auto;
}
div.post p {
	margin: 20px 0px;
}
/* End Post */

/* Pagination */
div.pagination {
	width: 100%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	font: 12px;
	font-weight: bold;
	color: #ff7500;
}
div.pagination a {
	color: #777;
}
div.pagination span.prev {
	float: left;
}
div.pagination span.next {
	float: right;
}
/* End Pagination */

/* Footer */
div.footer {
	padding-bottom: 50px;
}
/* End Footer */

/* World Map */
body.map {
	background: #1f1f21;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
body.map ul.navlinks {
	position: absolute;
	top: 8px;
	left: 80px;
	margin: 0px;
	padding: 7px;
	padding-left: 25px;
	overflow: hidden;
	background-color: #1f1f21;
	float: left;
	z-index: -1;
}
body.map div.header {
	top: 5px;
	margin: 0px;
	overflow: hidden;
	width: 333px;
}
#world_map_canvas{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/* End World Map */
