---
layout: default
title: Two Travellers
scripts:
- /js/maps.js
---
<script type="text/javascript">
	$(document).ready(function(){
		$('.post a img').parent().lightBox();
	});
</script>
{% for page in paginator.posts %}
	<div class='post'>
		<h2><a href="{{page.url}}">{{page.title}}</a></h2>

		<div class="data">
			{% if page.kml %}
				<div class="map" onclick="mapt(this,'{{page.kml}}')"></div>
			{% endif %}

			<div class="date">{{page.date | date: "%h %d, %Y"}}</div>
			{% if page.author %}
				<div class="author">by {{page.author}}</div>
			{% endif %}
		</div>
		<div class="content">
			{{page.content}}
		</div>
	</div>
{% endfor %}

<div class="pagination">
	{% if paginator.total_pages > paginator.page %}
		<span class="prev">
			&laquo; <a href="/page{{ paginator.next_page}}/">Previous Entry</a>
		</span>
	{% endif %}
	{% if paginator.page > 2 %}
		<span class="next">
			<a href="/page{{ paginator.previous_page}}/">Next Entry</a> &raquo;
		</span>
	{% else %}
		{%if paginator.page == 2 %}
		<span class="next">
			<a href="/">Next</a> &raquo;
		</span>
		{% endif %}
	{% endif %}
</div>
