---
layout: default
title: Travelling Two
scripts:
- /js/photos.js
- /js/maps.js
---
<div id="images">
	<ul>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
		<li><a><img/></a></li>
</div>
<ul class='posts'>
	{% for page in paginator.posts %}
	<li>
		<span>{{ page.date | date: "%h %d, %Y"}}</span> 
		&raquo; 
		{% if page.kml %}
			<span class="map"></span>
		{% endif %}
		<a href="{{ page.url }}">{{ page.title }}</a>
	</li>
	{% endfor %}
</ul>


<div class="pagination">
	{% if paginator.total_pages > paginator.page %}
		<span class="prev">
			&laquo; <a href="/page{{ paginator.next_page}}/">Previous Entry</a>
		</span>
	{% endif %}
	{% if paginator.page > 2 %}
		<span class="next">
			<a href="/page{{ paginator.previous_page}}/">Next Entry</a> &raquo;
		</span>
	{% else %}
		{%if paginator.page == 2 %}
		<span class="next">
			<a href="/">Next</a> &raquo;
		</span>
		{% endif %}
	{% endif %}
</div>
