<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="/css/site.css"/>
		<link rel="stylesheet" href="/css/nivo-slider.css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/js/photos_json.js"></script>
		<script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
	</head>
	<body class="map">
		<div class="header">
			<a href="/">
				<img id="sitelogo" src="/images/logo.png"/>
			</a>
		</div>
{{content}}
	</body>
</html>
