<h1><a href="{{page.url}}">{{page.title}}</a></h2>
<div class='post'>
	<div class="data">
		<div class="date">{{page.date | date: "%h %d, %Y"}}</div>
		{% if page.kml %}
      <script>$(document).ready(function(){mapt($('.map'));});</script>
			<div class="map"></div>
		{% endif %}
		{% if page.author %}
			<div class="author">by {{page.author}}</div>
		{% endif %}
		{% if page.categories != empty %}
		<div class="categories">
			Trip: 
			{% for cat in page.categories %}
				<a href="/trips/{{cat}}">{{cat}}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="content">
		{% if content %}
			{{content}}
		{% else %}
			{{page.content}}
		{% endif %}
	</div>
  <div class="nextPrevPosts">
    {% if page.previous %}
    <span class="prev-post">
      <a rel="prev" href="{{ page.previous.url }}" 
        title="View {{ page.previous.title }}"
        >&larr; {{page.previous.title}}</a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="next-post">
      <a rel="next" href="{{ page.next.url }}" 
        title="View {{ page.next.title }}"
        >{{page.next.title}}&rarr;</a>
    </span>
    {% endif %}
  </div>
</div>
