body { 
	letter-spacing: 5px;
	line-height: 50px;
	text-align: center;
	font-family: Helvetica, Trebuchet, Arial, serif;
	font-size: 32px;
	font-variant: small-caps;
	margin: 60px auto;
	width: 800px;
	background-color: #FFF;
	color: #444;
}
a { 
	color: #ED6400;
	text-decoration: none;
}
a:hover { 
	color: #999;
	text-decoration: underline;
}
